.idea
node_modules
build
.env
Dokerfile

.env.local
.env.development.local
.env.test.local
.env.production.local
.pnp
.pnp.js
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*



/client/node_modules
/client/.pnp
/client/.pnp.js


/coverage

/build

/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/server/node_modules